<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.memo.post.dao.PostDAO">
 	<!-- test용 -->
 	<select id="selectPostListTest" resultType="map">
 		SELECT
 			*
 		FROM
 		 	`post`
 	</select>
 	
 	<!-- 글쓰기 -->
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO `post`
 		(
	 		`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{subject}
 			,#{content}
 			,#{imagePath}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<!-- 글 가져오기 -->
 	<select id="selectPostListByuserId" parameterType="int" resultType="com.memo.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY `id` DESC
 	</select>
 	
 	<!-- 글 상세 가져오기 -->
 	<select id="selectPostByPostIdUserId" parameterType="map" resultType="com.memo.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`post`
 		WHERE
 			<!-- `컬럼` = dao가 넘겨준 이름 -->
 			`id` = #{postId}
 			AND `userId` = #{userId}
 			
 	</select>
 </mapper>