@charset "UTF-8";
header{height: 100px;}
.contents{min-height: 500px;}
footer{height: 100px;}

.sign-up-box {width:550px;}
.sign-up-table th {background:#D8D8D8;}

.box{width: 450px; min-height: 300px;}
.loginBox{width: 420px; min-height:250px; background: #FDF5E6;}
.boxColor{background: #FAFAD2;}

.joinBox{width: 420px; min-height:250px; background: #FDF5E6;}

.header-box {height:100px;}